@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Poppins:wght@300&display=swap');


*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    /* border: 2px solid black; */
    max-width: 1300px;
    height: 100vh;
    /* padding: 10px; */
}

.slider{
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    margin: 0 auto;


}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    height: 66px;
    padding: 10px 15px;
}
.nav-section .logo{
    border: 1px black;
    width: 8%;
    height: 100%;
    flex-basis: 30%;
}
.nav-section .nav-items{
    flex-basis: 70%;
}
.nav-section .logo img{
    width: 52%;
    height: 200%;
    object-fit: cover;
}
.nav-section .nav-items ul{
    display: flex;
    gap: 39px;
    margin-left: 122px;
    font-weight: 500;
    
}
.nav-section .nav-items li,a{
    list-style-type: none;
    text-decoration: none;
    font-size: 28px;
    color: #2c3e50;
}
.nav-items a:hover{
    border-bottom: 2px solid white;
}
/* for prev & next btn
   and for dot buttons
*/
button{
    background: none;
    border: none;
}
button .fas{
    color: rgba(255, 255, 255, .5);
}
.btn-slide{
    position:absolute;
    top:50%;
    z-index: 10;

    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;
}
.prev{
    left:3rem;
    transform: translate(-50%, -50%);
}
.next{
    right: 3rem;
    transform: translate(50%, -50%); 
}
.dots-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dot{
    width: 25px;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background: rgba(39,39,39, .5);
    cursor: pointer;
}
.dot.active{
background:#272727;
}